---
import "../../styles/style.css";
import "../../styles/mobile.css";

import { render } from "astro:content";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const blogPosts: CollectionEntry<"blog">[] = await getCollection("blog");
  return blogPosts.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style is:global>
    @import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

    body {
      font-family: "EB Garamond";
    }

    p {
      padding-block: 0.3em;
    }

    ol {
      list-style-type: upper-roman !important;
      padding-left: 5em;
    }
  </style>
  <title>{"blog: " + entry.data.title}</title>
  <body class="flex justify-center">
    <main class="pb-10 w-95/100 md:w-3/5">
      <nav class="py-5">
        <a class="underline text-[var(--blue)]" href="/blog/">go back!</a>
      </nav>
      <section class="p-4 md:p-10 bg-white border shadow-xl/15">
        <header class="py-2 text-5xl text-center">
          {entry.data.title}
        </header>
        <div class="text-xl pb-8 text-center">
          {entry.data.desc}
        </div>
        <div class="text-xl md:leading-[1.75] text-justify md:text-left">
          <hr />
          <Content />
        </div>
      </section>
    </main>
  </body>
</html>
