---
import Blog from "../../layouts/blog.astro";
import "../../styles/global.css";

import { render } from "astro:content";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const blogPosts: CollectionEntry<"blog">[] = await getCollection("blog");
  return blogPosts.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<html lang="en">
  <meta charset="UTF-8" />
  <title>{"blog: " + entry.data.title}</title>
  <body>
    <main class="px-30">
      <nav class="pt-5">
        <a class="underline text-[var(--blue)]" href="/blog/">back to blog</a>
      </nav>
      <h1 class="pt-10 text-4xl">{entry.data.title}</h1>
      <div class="prose italic text-xl pb-8">{entry.data.desc}</div>
      <div>
        <Content />
      </div>
    </main>
  </body>
</html>
