---
import "../../styles/style.css";
import "../../styles/mobile.css";

import Main from "../../layouts/main.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const books: CollectionEntry<"bookReviews">[] =
  await getCollection("bookReviews");
---

<Main title="reading">
  <section class="flex flex-col p-5 md:p-10">
    <h1 class="text-5xl">I'm trying to start reading again</h1>
    <p>
      Here's a collection of books that I've finished reading and my thoughts
      about them.
    </p>
    <section class="flex justify-center">
      <ul
        class="md:w-4/5 space-y-14 h-[50svh] md:h-[55svh] overflow-y-auto bg-white p-3 md:p-5 border"
      >
        {
          books.map((book) => (
            <li>
              <div class="text-lg">
                {book.data.title} by <em>{book.data.author}</em>
              </div>
              <div class="pl-4">{book.data.stars}★</div>
              <hr />
              <div class="pt-2 md:px-8 text-justify">{book.data.review}</div>
            </li>
          ))
        }
      </ul>
    </section>
    <section class="pt-5">
      <h2 class="mt-5 text-3xl">Websites are also important</h2>
      <p>
        Making an effort to collect items that peak my interest reminds me of
        how often inspiring works are forgotten. Logging and storing these items
        is a nonnegotiable if I'm striving to be creative and inspired. So, <a
          class="underline text-[var(--blue)]"
          href="/reading/useful_links"
          >here's my collection of webpage links for future reference.
        </a>
      </p>
    </section>
  </section>
</Main>
