---
import "../../styles/style.css";
---

<html>
  <style>
    a {
      text-decoration: underline;
      color: var(--blue);
    }
  </style>
  <body class="p-10">
    <div class="py-10"><a href="/reading/">BACK TO READING</a></div>
    <ul class="flex flex-col space-y-4">
      <li>
        <h2>Backpacking blog</h2>
        <a href="https://intothebackcountryguides.com/"
          >https://intothebackcountryguides.com/</a
        >
        <div>
          this blog provides a lot of interesting trail guides
          (https://intothebackcountryguides.com/trail-guides/three-ridges-loop-backpacking-guide)
          and skills that are useful for backpacking
        </div>
      </li>
      <li>
        <h2>DoGoodBiz</h2>
        <a href="https://www.dogoodbiz.studio/">https://www.dogoodbiz.studio/</a
        >
        <div>
          found this person's webpage through substack. I think a lot about the
          role of social media and my unwillingness to participate which I
          attributed to toxicity. They explored this theme in their field note
          "Disrupt or Depart? A Creative's Guide to Navigating Toxic Social
          Media Platforms". Their other field notes on "typical business crap"
          catch my eye as something useful to think about in the future.
        </div>
      </li>
    </ul>
  </body>
</html>
