---
import "../../styles/global.css";
---

<html>
  <style>
    a {
      text-decoration: underline;
      color: var(--blue);
    }
  </style>
  <body class="p-10">
    <div class="py-10"><a href="/reading/">BACK TO READING</a></div>
    <ul>
      <li>
        <h2>Backpacking blog</h2>
        <a href="https://intothebackcountryguides.com/"
          >https://intothebackcountryguides.com/</a
        >
        <div>
          this blog provides a lot of interesting trail guides
          (https://intothebackcountryguides.com/trail-guides/three-ridges-loop-backpacking-guide)
          and skills that are useful for backpacking
        </div>
      </li>
    </ul>
  </body>
</html>
