@import "tailwindcss";

body {
	font-family: "FreeSans";
	font-weight: 400;
}

h1 {
	font-weight: 600;
	margin-bottom: 0.5em;
}

h2 {
	font-weight: 500;
	margin-bottom: 0.5em;
}

p {
	margin-block: 0.75em;
}
