@import "tailwindcss";

h1 {
	font-weight: 600;
	margin-bottom: 0.5em;
}

h2 {
	font-weight: 500;
	margin-bottom: 0.5em;
}

p {
	margin-block: 0.75em;
}

:root {
	--orange: #FB6107;
	--customblue: #485696;
	--cream: #EFCDBD;
	--green: #5C8001;
	--yellow: #FBB02D;
}
