---
import "../../styles/global.css";
import Main from "../../layouts/main.astro";
---

<Main title="projects">
  <section class="p-10">
    <div>
      Here's a current list of projects that I'm currently working on or spent a
      significant amount of time work on
    </div>
    <ul class="flex flex-col list-disc py-10">
      <li>custom bag made from donated denim jeans</li>
      <li>this website</li>
      <li>
        <a class="underline text-[var(--blue)]" href="https://shorturl.at/lMBqp"
          >Undergraduate senior thesis with the VT string theory group</a
        >
      </li>
    </ul>
  </section>
</Main>
