---
const { title } = Astro.props;
import "../styles/global.css";
---

<html lang="en">
  <meta charset="UTF-8" />
  <title>{title}</title>
  <body>
    <main class="px-30">
      <nav class="pt-5">
        <a class="underline text-[#1e66f5]" href="/blog/">back to blog</a>
      </nav>
      <slot />
    </main>
  </body>
</html>
