---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <style>
      .active-page,
      .active-page:hover {
        background-color: rgba(var(--lavender), 0.5);
      }

      a:hover {
        background-color: rgba(var(--lavender), 0.1);
      }
    </style></head
  >

  <body>
    <main class="pt-2 flex">
      <nav class="flex flex-col">
        <ul class="p-4 flex flex-col">
          <div class="mb-5">dylansWebSpace v0.0.2</div>
          <li><a class="p-1" href="/">home</a></li>
          <li><a class="p-1" href="/about">about</a></li>
          <li><a class="p-1" href="/blog/">blog</a></li>
          <li><a class="p-1" href="/reading">reading</a></li>
          <li><a class="p-1" href="/projects">projects</a></li>
          <li>
            <a class="p-1" href="https://github.com/dylanbloodworth">github</a>
          </li>
        </ul>
      </nav>
      <slot />
      <script is:inline>
        const navLinks = document.querySelectorAll("nav a");
        const curPath = window.location.pathname;

        navLinks.forEach((link) => {
          if (link.getAttribute("href") == curPath) {
            link.classList.add("active-page");
          }
        });
      </script>
    </main>
  </body>
</html>
