---
import "../styles/global.css";
---

<nav class="font-bold pl-8 font-[JetBrainsMono_Nerd_Font] bg-[var(--orange)]">
	dylansWebSpace v0.0.1 <a class="pl-8 px-6" href="/">Home</a><a
		class="px-6"
		href="/blog/">Blog</a
	><a class="px-6" href="/about">About</a>
</nav>
