---
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<title>{title}</title>
	</head>
	<body>
		<nav>
			<a href="https://www.youtube.com">youtube</a>
		</nav>
		<div class="grid grid-cols-[20%_auto_15%]">
			<div>grid1</div>
			<div><slot /></div>
			<div>grid3</div>
		</div>
	</body>
</html>
